body{
    text-align: center;
}
div{
    height:100px;
    width:200px;
    display: inline-block;
    border: 2px solid black;
    color: aliceblue;
}
#flexbox{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    /*flex-wrap: wrap;*/
    align-items:flex-start;
    /*align-content: flex-start;*/
    flex-grow:  grow;

}
#box1{
    background-color: brown;
}
#box2{
    
   background-color: blueviolet;
   height: 200px;
  
}
#box3{
   
    background-color: blue;
}
#box4{
   
    background-color: black;
}
#box5{
   
    background-color: aqua;
}